.nav-bar {
    height: 40px;
    background-color: rgb(58, 58, 224);
    
    }
.nav-bar a {
    text-align: end;
}
.mat-toolbar button{
    border: none;
    color: "primary";
    background-color: transparent;
  }
  .mat-toolbar button:hover{
  color: #ff8f00;
  
  }
  .carousel-inner .sr-only {
    display: none;
 }
  .mat-toolbar{
    border: none;
    background-color: #ddd4d4;
  }
  
    .spacer {
    flex: 1 1 auto;
  }
.nav-container {
    height: 100%;
    border: none;
  }
  
  .nav-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .nav-sidenav {
    padding: 20px;
  }
  .images{
    overflow: hidden;
    height: 500px;
  }
.picsum-img-wrapper{

  background-size: cover;
  overflow: hidden;
  width: 100%;
}
.loginform{
 text-align: center;
 padding: 30px;
}
.inputs{
  text-align: center;
}
.lables{
  text-align: center;
}
.mat-tab{
  display: flex;
  justify-content: center;
}
carousel-item sr-only{
  display: none;
}

@media only screen and (max-width: 600px) {
  .images{
    height: 200px;
  }
}