<div class="container">
    <h1>Restaurants</h1>
    <div > 
      <mat-form-field appearance="legacy" class="search">
        <input matInput placeholder="Search shop">
        <mat-icon matPrefix>search</mat-icon>
        
      </mat-form-field>
    </div>
    <div class="restaurant_list"  fxLayoutGap="16px grid" >
      <div class="flex" fxFlex='20%' *ngFor='let restaurant of restaurants'>
    <mat-card class="example-card">
         

        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
         <mat-card-title>{{restaurant.RestaurantName}}</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          <mat-card-content>
          <p>
            {{restaurant.Address}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    </div>

     
</div>
