<div class="container">
    <h1>Restaurants</h1>
    <div > 
      <mat-form-field appearance="legacy" class="search">
        <input matInput placeholder="Search shop">
        <mat-icon matPrefix>search</mat-icon>
        
      </mat-form-field>
    </div>
    <div class="restaurant_list"  fxLayoutGap="16px grid" >
      <div class="flex"  *ngFor='let restaurant of restaurants'>
    <mat-card class="shoplist-card">
         

        <img mat-card-image src="https://cdn2.hubspot.net/hubfs/439788/Blog/Featured%20Images/Best%20Hotel%20Website%20Designs.jpg" alt="Photo of a Shiba Inu">
          <div class="group">
              <mat-card-title>{{restaurant.RestaurantName}}</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          <mat-card-content>
          <p>
            {{restaurant.Address}}
          </p>
        </mat-card-content>
          </div>
       
      </mat-card>
    </div>
    </div>

     
</div>
